<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Hello Admin!</h3>
  <a href="" class="w3-bar-item w3-button">Add Vehicle</a>
  <a href="" class="w3-bar-item w3-button">Pending Approvals</a>
  <a href="" class="w3-bar-item w3-button">Update Vehicle</a>
  <a href="" class="w3-bar-item w3-button">View Rented Vehicle</a>
  <a href="" class="w3-bar-item w3-button">Payment Details</a>

</div>

<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container w3-grey">
  <h1>Add Vehicle</h1>
</div>



<div class="w3-container">
<h2></h2>
<p></p>
<p></p>
</div>

</div>
      
</body>
</html>